---
import Layout from '../layouts/Layout.astro';
import Typewriter from 'typewriter-effect';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="text-4xl flex-grow text-center">
			<Typewriter client:load
  			options={{
    		strings: ["l'application de navigation qui surpasse toutes les autres"],
    		autoStart: true,
    		loop: true,
  			}}
			/>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 70%;
	}
</style>
