---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="flex items-center justify-between flex-wrap bg-white p-6">
			<div class="flex items-center flex-shrink-0 text-black mr-6">
			  <img class="fill-current h-10 w-10 mr-2" width="184" height="184" src='/ANTIMAPSv2.png'>
			  <span class="font-semibold text-xl tracking-tight">antimaps</span>
			</div>
			<div class="block lg:hidden">
			  <button class="flex items-center px-3 py-2 border rounded text-white border-blackhover:text-white hover:border-white">
				<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
			  </button>
			</div>
			<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
			  <div class="text-sm lg:flex-grow">
				<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
				  Docs
				</a>
				<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
				  Examples
				</a>
				<a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
				  Blog
				</a>
			  </div>
			  <div>
				<a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white bg-black border-black hover:text-black hover:bg-white mt-4 lg:mt-0">Download</a>
			  </div>
			</div>
		  </nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
